@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: "Poppins", sans-serif;
}

body, .dark {
    transition: background-color 0.5s ease, color 0.5s ease;
}

p, h1, span {
    transition: color 0.5s ease;
}
::marker{
    color: #a847f2;
}


.toggler{
    transition: background-color 0.5s ease;
}
.toggler.dark{
    background-color: #a847f2;
}
.toggler.dark .toggle{
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.toggle{
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    transition: left 0.5s ease, transform 0.3s ease;

}
